.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
}
.board__header,
.board__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0;
}

.board__header > div {
  padding: 8px;
  min-width: 100px;
  max-width: 150px;
}
.board__footer > div {
  padding: 8px;
  min-width: 100px;
  max-width: 150px;
}

.header__time-past {
}
.board__body {
  border: 3px solid #4e999e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  
}

.board__tile {
  font-size: 16px;
  font-weight: 600;
  $size: 20px;
  width: $size;
  height: $size;
  text-align: center;
  border: 1px solid #6d6969;
  background: #cfa4a4c7;
}
@media screen and (max-width:640px) {

  .board{
    padding: 15px 0px;
    width: 100%;
  }
  .board__body{
    padding: 3px 0px ;
   
  }
 
}
.board__tile_clicked {
  background: #ffffffc0;
}

.x1 {
  color: rgb(72, 72, 202);
}
.x2 {
  color: rgb(26, 105, 26);
}
.x3 {
  color: rgb(206, 61, 61);
}
.x4 {
  color: rgb(209, 209, 38);
}
.x5 {
  color: rgb(226, 116, 226);
}
.x6 {
  color: orange;
}
.x7 {
  color: black;
}
.x8 {
  color: rgb(155, 48, 48);
}
