#settingsBtn {
  display: flex;
  justify-content: end;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.settings__buttons {
  opacity: 0;
 width: 72%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  transition: opacity 1s ease-in-out;
margin-top: -5%;
}

.settings__buttons.active {
  opacity: 1;
}

.button {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: 2px solid #4f8083;
  border-radius: 20px;
  background: #69abaf;
  cursor: pointer;
  margin-top: 15px;
  
}
.button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.another-game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}
