html.dark,
.dark body {
  background: #232b28;
  color: #fff;
}

.button.dark {
  background: #1b704f;
}
.board__body.dark {
  border: 3px solid #1b704f;
}
.board__tile.dark {
  background: #6fb4c5;
  border: 1px solid #627275;
}

.board__tile_clicked.dark {
  background: #554f4fc0;
}

.x1.dark {
  color: rgb(143, 143, 241);
}
.x2.dark {
  color: rgb(30, 150, 30);
}
.x3.dark {
  color: rgb(214, 57, 57);
}
.x4.dark {
  color: rgb(209, 209, 38);
}
.x5.dark {
  color: rgb(226, 116, 226);
}
.x6.dark {
  color: orange;
}
.x7.dark {
  color: rgb(119, 111, 111);
}
.x8.dark {
  color: rgb(156, 54, 54);
}
.table__body.dark {
  background: #397074;
}
.game-over__info.dark {
  background: #5a4949;
}

.results__modal.dark {
  background: #48524b;
}
