.game-options {
  position: absolute;
  top: -100%;
  left: 0%;
  transition: 2s;
}
.game-options.active {
  position: absolute;
  z-index: 16;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
}

.table__body {
  margin: 0 auto;
  background: #4e999e;
}
.table__row {
  text-align: left;
}
.table__row_bold {
  text-align: center;
  font-weight: 700;
}

.game-options__table.active {
  display: flex;
  text-decoration: none;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
}
.game-option_close.active {
  position: absolute;
  top: -17%;
  right: -7%;
  z-index: 17;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #4f8083;
  background: #69abaf;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.game-option_close {
  display: none;
}
.table__cell {
  min-width: 100px;
  max-width: 150px;
  font-size: 1.2rem;
  line-height: 0.7rem;
  color: #000000;
  padding: 10px 5px;
  border: 2px solid #000000;
}
.game-options__table tr:hover {
  background-color: #d7d8d8;
}
.game-options__table tr:hover td {
  color: #000000;
  cursor: default;
}

.table__cell:has(.table__input) {
  text-align: center;
}
.table__input {
  width: 90%;
  text-align: center;
}
